extends layout

block content
  div.col-md-8.col-md-offset-2.text-intro
    div.row
        h3.col-md-12.
            Привет! Меня зовут Антон. Я full stack разработчик.
        p.col-md-12 Tech stack:
    div.row
        ul
            li Языки программирования - Python, JS
            li Backend - Django, Flask, Tornado, Nodejs, Express
            li Frontend - LESS, Bootstrap, Angular, Pug
            li Базы данных - PostgreSQL, Sqlite, NoSQL
            li SCM - git
            li Другие - Heroku, Apache/Nginx, Jenkins, Swagger, Consul, Zato
    h3 Employment history
        h5
            p OpenSolution LLC 05.15  -  Present
    h3 Education
        h5
            a(href="http://penzgtu.ru") Penza State Technological University
            p Bachelor of Engineering (B.Eng.)
            p &lt;2013  -  2017&gt;
    h3 Projects
        p Check out my #[a(href="https://github.com/sirmaahe") github page] with some projects
    h3 Contacts
        p Email: sirmaahe@gmail.com
        p Skype: antnpltnv
