extends layout

block content
  div.col-md-8.col-md-offset-2.text-intro
    div.row
      h1.first-title.col-md-9 Lorem Ipsum dolor sit amet
    div.row
      p.col-md-12.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        gravida sapien ut erat volutpat hendrerit.Sed eget urna eu diam
        tincidunt facilisis at non felis. Duis vitae dictum ex. Integer
        interdum magna a nulla sagittis cursus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Integer eu rhoncus ex. Nam efficitur magna nulla, eget consectetur
        orci pretium quis. Phasellus varius tempor massa et pretium. Donec mollis,
        velit a egestas rhoncus, massa enim rhoncus eros, eu maximus odio nibh non est.
        onec at feugiat neque. Sed scelerisque nibh sit amet interdum lobortis.
  div(ng-controller='ProjectsController').project.container
    div.row
      div#left-trigger.trigger.col-md-2
        a(ng-click='slideLeft()')
          svg
            path(fill='#416175' d='m0,20 30,-20 v40z')
      img.col-md-4(src="{{ currentProject.img }}")
      div.col-md-4
        h1 {{ currentProject.title }}
        p {{ currentProject.description }}
        a(href="{{ currentProject.link }}") Ссылка
      div(ng-click='slideRight()')#right-trigger.trigger.col-md-2
        svg
          path(fill='#416175' d='m0,0 30,20 -30,20z')
