doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html;" charset="utf-8")
    title Платонов А.М. 13ИВ1б
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js")
    script(src="/javascripts/script.js")
  body
    block content
    div.col-md-12.bg-main
      div.col-md-8.col-md-offset-2.footer
        h4.col-md-3 Сделано для #[a(href="http://www.penzgtu.ru") Пензенского государственного технологического университета]
        h4.col-md-3 Email: sirmaahe@gmail.com
        h4.col-md-3 #[a(href="https://ru.linkedin.com/in/anton-platonov-318534121") LinkedIn Profile] Hire me!
        h4.col-md-3 Email: sirmaahe@gmail.com