doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html;" charset="utf-8")
    title Платонов А.М. 13ИВ1б
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js")
    script(src="/javascripts/script.js")
  body
    div.container.col-md-12
      div.row.svg-intro.col-md-12
        div
          svg
            path(fill='#86D7DB' d='m0,143 240,-20 224,80 348,-40 60,10 240,-120 300,160 600,20 630,20 v256 h-5000z')
            path(fill="#3C929A" d="m0,206 206,-60 272,65 342,20 120,-60 120,80 300,80 100,-60 200,-40 600,200 v200 h-3000z")
            path(fill="#416175" d="m0,300 400,-50 450,60 305,-20 366,40 320,20 620,-80 v256 h-5000z")
      div(ng-app="app").bg-main.col-md-12
        div.main-page.col-md-8.col-md-offset-2
          block content
        div.col-md-8.col-md-offset-2.footer
          h4.col-md-3 Сделано для #[a(href="http://www.penzgtu.ru") Пензенского государственного технологического университета]
          h4.col-md-3 Email: sirmaahe@gmail.com
          h4.col-md-3 #[a(href="https://ru.linkedin.com/in/anton-platonov-318534121") LinkedIn Profile] Hire me!
          h4.col-md-3 Email: sirmaahe@gmail.com