doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js")
    script(src="/javascripts/script.js")
  body
    block content
